<section id="login">
    <div class="overlay"></div>
    <app-navbar></app-navbar>
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-5 offset-md-7">
                <div class="card card-body bg-light">
                    <h1 class="card-title text-center">Login</h1>
                    <form>
                        <div class="form-group">
                          <label for="email">Email address</label>
                          <input type="email" class="form-control" id="email" >
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" id="password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</section>