<div class="card card-body shadow-lg">
  <h4 class="text-muted text-center mb-4">Applicant's details</h4>
  <div class="row">
    <div class="col-3">
      <p class="text-center text-primary">
        <i class="fas fa-user fa-4x"></i>
      </p>
      <div>
        <p class="text-muted text-center"><small>13306252</small> /T.17</p>
        <div class="text-center">
          <small class="text-muted mr-2">(Tzsh)</small>
          <span class="badge badge-primary"> 25,000 </span>
        </div>
        <a href="#" class="btn btn-outline-secondary btn-sm btn-block mt-3"
          ><i class="fas fa-handshake mr-2"></i>Confirm</a
        >
      </div>
    </div>
    <div id="applicant_details" class="col-9">
      <div class="d-flex justify-content-between align-content-center px-4">
        <div class="text-muted">Full name</div>
        <em>John Doe</em>
      </div>
      <div class="d-flex justify-content-between align-content-center px-4">
        <div class="text-muted">Username</div>
        <em>@Jdoe</em>
      </div>
      <div class="d-flex justify-content-between align-content-center px-4">
        <div class="text-muted">Returns with interestt</div>
        <em>Tzsh 30,000</em>
      </div>
      <div class="d-flex justify-content-between align-content-center px-4">
        <div class="text-muted">Loan return date</div>
        <em>12<sup>th</sup> October, 2020</em>
      </div>
    </div>
  </div>
</div>
