<section id="about">
    <div class="overlay"></div>
    <app-navbar></app-navbar>
</section>
<section id="about-content" class="py-5">
    <div class="container">
       <div class="row">
           <div class="col-md-6">
                <h1 class="text-center">About <span class="text-primary">Colobe</span></h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia fuga placeat odit? Enim incidunt suscipit quaerat consequuntur! Quo temporibus dolor incidunt quaerat blanditiis corrupti consectetur. Facere, quo facilis cupiditate debitis perferendis aspernatur, optio quibusdam nisi delectus perspiciatis ullam tenetur dicta laboriosam iure vitae, iusto aliquam unde recusandae dolore sequi enim.
                </p>
           </div>
           <div class="col-md-6">
               <div class="card card-body bg-light">
                   <h1 class="card-title text-center">Contact us</h1>
                    <form>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone number</label>
                            <input type="text" class="form-control" id="phone">
                        </div>
                        <div class="form-group">
                            <label class="form-check-label" for="msg">Your message</label>
                            <textarea class="form-control" name="msg" id="msg"></textarea>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">Submit</button>
                    </form>
               </div>
           </div>
       </div>
    </div>
</section>
