<div class="row mx-auto">
  <div class="card card-body  shadow-lg">
    <h4 class="text-muted text-center mb-3">Your creditors</h4>
    <table class="table">
      <thead class="bg-secondary text-light">
        <tr>
          <th scope="col"></th>
          <th scope="col">Full name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone number</th>
          <th scope="col">Amount</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Jane Doe</td>
          <td>Jane@email.com</td>
          <td>0837662263</td>
          <td>tzsh 25,000</td>
          <td>
            <a [routerLink]="['/dashboard/creditors', 1]" class=" btn-details"
              >Details<i class="fas fa-angle-double-right ml-2"></i
            ></a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>John Doe</td>
          <td>John@email.com</td>
          <td>0837662263</td>
          <td>tzsh 25,000</td>
          <td>
            <a [routerLink]="['/dashboard/creditors', 2]" class=" btn-details"
              >Details<i class="fas fa-angle-double-right ml-2"></i
            ></a>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Grace Doe</td>
          <td>Grace@email.com</td>
          <td>0837662263</td>
          <td>tzsh 25,000</td>
          <td>
            <a [routerLink]="['/dashboard/creditors', 3]" class=" btn-details"
              >Details<i class="fas fa-angle-double-right ml-2"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
