<div class="row mx-auto">
  <div class="card card-body  shadow-lg">
    <h4 class="text-muted text-center mb-3">Borrowers</h4>
    <p
      class="p-2 bg-secondary text-center text-white rounded-pill"
      *ngIf="!loading && creditors.length === 0"
    >
      No borrowers
    </p>
    <app-spinner *ngIf="loading"></app-spinner>
    <table class="table" *ngIf="!loading && creditors.length > 0">
      <thead class="bg-secondary text-light">
        <tr>
          <th scope="col"></th>
          <th scope="col">Full name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone number</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let creditor of creditors; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ creditor.applicant.firstname }} {{ creditor.applicant.lastname }}
          </td>
          <td>{{ creditor.applicant.email }}</td>
          <td>{{ creditor.applicant.phone }}</td>
          <td>
            <a
              [routerLink]="[
                '/dashboard/creditors',
                creditor.applicant._id,
                creditor._id
              ]"
              class=" btn-details"
              >Details<i class="fas fa-angle-double-right ml-2"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
