<section id="features" class="py-5  px-md-2">
  <p class="lead-head text-center">Collaborative Loans Beneficiary System</p>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card card-body bg-light">
        <p class="text-center">
          <i class="text-primary fas fa-cloud fa-4x"></i>
        </p>
        <p class="lead">
          It is a cloud based system. Meaning it can be accessed through intenet
          anywhere with any electronic smart device
        </p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card card-body bg-light">
        <p class="text-center">
          <i class="text-primary fas fa-rocket fa-4x"></i>
        </p>
        <p class="lead">
          It is fast sending and recieving requests with fast servers
        </p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card card-body bg-light">
        <p class="text-center">
          <i class="text-primary fas fa-lock fa-4x"></i>
        </p>
        <p class="lead">
          It is secure
        </p>
      </div>
    </div>
  </div>
</section>
