<div class="container text-white">
  <div class="row py-5">
    <div class="col">
      <h1 class="text-center display-4">
        Collaborative Loans
        <span class="text-secondary">Beneficiary </span> System
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p class="lead text-center">
        <i class="text-light fas fa-cloud mr-2"></i> Cloud based system
      </p>
    </div>
    <div class="col-md-4">
      <p class="lead text-center">
        <i class="text-light fas fa-rocket mr-2"></i> Very fast
      </p>
    </div>
    <div class="col-md-4">
      <p class="lead text-center">
        <i class="text-light fas fa-lock mr-2"></i> Secure
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <i class="fas fa-check-circle mr-2"></i> Earn income
        </li>
        <li class="list-group-item">
          <i class="fas fa-check-circle mr-2"></i> Make reliable friends
        </li>
        <li class="list-group-item">
          <i class="fas fa-check-circle mr-2"></i> Community service
        </li>
        <li class="list-group-item">
          <i class="fas fa-check-circle mr-2"></i> Get fast Loans
        </li>
      </ul>
      <a href="#!" class="btn btn-lg btn-outline-danger my-3"
        >Register for free</a
      >
    </div>
    <div class="col-md-6">
      <img
        src="../assets/img/people1.jpg"
        class="rounded-circle img-fluid mr-auto"
        alt=""
      />
    </div>
  </div>
</div>
