<div class="row mx-auto">
  <div class="card card-body shadow-lg">
    <h4 class="text-muted text-center mb-3">Your assets</h4>
    <div class="row pt-3  px-4">
      <div class="col-4">
        <p class="text-center m-auto">
          <i class="fas fa-credit-card fa-9x text-primary"></i>
        </p>
      </div>
      <div class="col-8 text-center" *ngIf="loading">
        <app-spinner></app-spinner>
      </div>
      <div
        id="total_assets"
        *ngIf="!loading && userData"
        class="col-8 p-4 border"
      >
        <div class="mb-1" *ngIf="userData.assets.length > 0">
          <h6 class="text-muted pt-3">Your assets</h6>
          <div
            class="d-flex justify-content-between align-content-center px-5"
            *ngFor="let ast of userData.assets"
          >
            <div>
              <p class="text-muted">{{ ast.applicant.username }}</p>
            </div>
            <div>
              <em
                >Tzsh {{ ast.amount.toFixed(2) }} + ({{
                  ast.interest.toFixed(2)
                }})</em
              >
            </div>
          </div>
        </div>
        <div class="mb-1" *ngIf="userData.liabilities.length > 0">
          <h6 class="text-muted pt-3">Your liabilities</h6>
          <div
            class="d-flex justify-content-between align-content-center px-5"
            *ngFor="let lia of userData.liabilities"
          >
            <div>
              <p class="text-muted">{{ lia.debitor.username }}</p>
            </div>
            <div>
              <em
                >Tzsh {{ lia.amount.toFixed(2) }} + (
                {{ lia.interest.toFixed(2) }} )</em
              >
            </div>
          </div>
        </div>
        <div
          class="total_assets d-flex justify-content-between align-content-center pr-5"
        >
          <h6>Total assets</h6>
          <strong class="text-{{ userData.total < 0 ? 'danger' : 'primary' }}"
            >Tzsh {{ userData.total.toFixed(2) }}</strong
          >
        </div>
      </div>
    </div>
  </div>
</div>
