<section id="login">
  <div class="overlay"></div>
  <app-navbar></app-navbar>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-md-5 offset-md-7">
        <div class="auth_form">
          <div
            class="alert alert-danger"
            *ngIf="!loading && error"
            role="alert"
          >
            <strong><i class="fas fa-info-circle mr-2"></i></strong>
            {{ error.msg }}
          </div>
          <h3 class="card-title text-center text-white">
            <i class="fas fa-user-lock text-primary mr-2"></i>Login
          </h3>
          <form #userData="ngForm" (submit)="onSubmit(userData)">
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                name="email"
                ngModel
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                ngModel
                required
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block"
              [disabled]="loading"
            >
              <i class="fas fa-sign-in-alt mr-2"></i
              >{{ loading ? "Loging in..." : "Login" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
