<div class="row mx-auto">
  <div class="col-12 shadow-lg p-5 bg-light rounded">
    <h4 class="text-muted text-center mb-4">Creditor's details</h4>
    <div class="row">
      <div class="col-3 border  p-3">
        <p class="text-center text-primary">
          <i class="fas fa-user fa-4x"></i>
        </p>
        <div>
          <p class=" text-center">13306252/T.17</p>
          <div class="text-muted text-center">
            <i class="fas fa-phone mr-2"></i>077665555
          </div>
          <div class="text-muted text-center">
            <small><i class="far fa-envelope mr-2"></i>jdoe@email.com</small>
          </div>
        </div>
      </div>
      <div id="applicant_details" class="col-9 pl-5 pr-5">
        <div class="d-flex justify-content-between align-content-center px-4">
          <div class="text-muted">Full name</div>
          <em>John Doe</em>
        </div>
        <div class="d-flex justify-content-between align-content-center px-4">
          <div class="text-muted">Username</div>
          <em>@Jdoe</em>
        </div>
        <div class="d-flex justify-content-between align-content-center px-4">
          <div class="text-muted">Amount owed</div>
          <em>Tzsh 30,000</em>
        </div>
        <div class="d-flex justify-content-between align-content-center px-4">
          <div class="text-muted">Loan return date</div>
          <em>12<sup>th</sup> October, 2020</em>
        </div>
      </div>
    </div>
  </div>
</div>
