@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");
html {
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
}

#land-page {
  background: url(./assets/img/land-image.jpg) center center/cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .list-group li {
    background-color: transparent !important;
  }

  img.rounded-circle {
    height: 250px !important;
  }
}
label {
  color: #bbb;
}
nav {
  border-bottom: 2px solid rgb(0, 0, 63);
  .navbar-text,
  a {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: rgb(122, 122, 255);
    }
  }
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 139, 0.5);
}

.btn-details {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: rgb(122, 122, 255);
  }
}

#features {
  overflow: hidden;
  p.lead-head {
    font-size: 3rem;
  }
}

#about {
  position: relative;
  background: url(./assets/img/people1.jpg) center center/cover;
  background-attachment: fixed;
  height: 40vh;
}

#login {
  position: relative;
  background: url(./assets/img/mchele.jpg) center center/cover;
  background-attachment: fixed;
  height: 100vh;
}

#dashboard {
  height: 100vh;
  overflow: hidden;
  nav {
    border-bottom: 1px solid rgb(122, 122, 255);
    box-shadow: 0 2px 2px rgb(200, 200, 255);
  }
  #dashboard-row_col {
    height: calc(100vh - 58px);
    overflow: auto;
    background: rgb(240, 240, 255) !important;
    #total_assets {
      .total_assets {
        border-bottom: 1px double rgb(0, 0, 139) !important;
        margin-top: 1rem;
      }
      h6 {
        text-transform: uppercase;
      }
      .d-flex {
        transition: all ease-in-out 0.25s;
        border-bottom: 1px dotted rgba(0, 0, 139, 0.85);
        padding: 0.5rem;
        p {
          margin: 0;
        }
        &:hover {
          cursor: pointer;
          background: rgba(0, 0, 139, 0.1);
        }
      }
    }
    table {
      tbody {
        tr {
          transition: all ease-in-out 0.3s;

          &:hover {
            background: rgba(122, 122, 255, 0.1);
          }
        }
        td,
        th {
          padding-top: 0.6rem !important;
          padding-bottom: 0.6rem !important;
          margin: 0;
        }
      }
    }
    .count {
      font-size: 1.5rem;
      border-bottom: 1px dotted rgb(0, 27, 24);
    }
    #user-items {
      div {
        border-bottom: 1px dotted rgb(122, 122, 255);
        padding: 0.5rem;
        transition: all ease-in-out 0.25s;
        cursor: pointer;
        &:hover {
          background: rgba(122, 122, 255, 0.1);
        }
        p {
          margin: 0;
        }
      }
    }
  }
  .row .nav {
    li {
      box-shadow: 0 1px 2px rgb(0, 27, 24);
      border-left: 5px solid rgb(0, 0, 63);
      transition: all 0.3s ease-in;
      &:hover,
      &:active {
        border-left: 5px solid rgb(122, 122, 255);

        a {
          color: rgb(122, 122, 255);
        }
      }
      a {
        transition: all 0.3s ease-in;
        color: #ccc;
      }
    }
  }
}
