<div class="row mx-auto">
  <div class="col-12 bg-light p-4 shadow-lg">
    <h4 class="text-muted text-center mb-2">Paid loans</h4>
    <p
      class="p-2 bg-secondary text-center text-white my-3 rounded-pill"
      *ngIf="!loading && loans && loans.length < 1"
    >
      <i class="fas fa-info-circle mr-2"></i> No Paid loans
    </p>
    <app-spinner *ngIf="loading"></app-spinner>
    <table class="table" *ngIf="!loading && loans && loans.length > 0">
      <thead class="bg-secondary text-white">
        <tr>
          <th scope="col"></th>
          <th scope="col">Lender</th>
          <th scope="col">Borrower</th>
          <th scope="col">Verified By</th>
          <th scope="col">Amount</th>
          <th scope="col">Paid date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loan of loans; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>@{{ loan.applicant.username }}</td>
          <td>@{{ loan.debitor.username }}</td>
          <td>@{{ loan.verifiedBy.username }}</td>
          <td>Tzsh {{ loan.amount }}</td>
          <td>{{ loan.updatedAt | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
